@import "bootstrap";

.body-padding {
  margin-bottom: 30px;
  // margin-top: 30px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  margin-top: 12px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: -5px;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 7px;
  margin-top: 7px;
}

.time-submit {
  float: left;
  margin-left: 17px;
  margin-top: 5px;
}

.content-show {
  padding-top: 5px;
}

.exciting-navbar {
  margin-bottom: 30px;
}

.title-show {
  margin-bottom: 25px;
}

.comment {
  margin-top: 25px;
}

.comment-title {
  margin-top: 5px;
}

.comment-content {
  margin-bottom: 0px;
}

small {
  font-size: 60%;
}

.comment-wrapper {
  margin-left: -12px;
}
