@import "bootstrap";

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  margin-top: 12px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: -5px;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 7px;
  margin-top: 7px;
}

.time-submit {
  float: left;
  margin-left: 17px;
  margin-top: 5px;
}

