@import "bootstrap";
@import "font-awesome";

.body-padding {
  margin-bottom: 30px;
  // margin-top: 30px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  margin-top: 12px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: -5px;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 7px;
  margin-top: 7px;
}

.time-submit {
  float: left;
  margin-left: 17px;
  margin-top: 5px;
}

.content-show {
  padding-top: 5px;
}

.exciting-navbar {
  margin-bottom: 30px;
}

.title-show {
  margin-bottom: 25px;
}

.comment {
  margin-top: 25px;
}

.comment-title {
  margin-top: 5px;
}

.comment-content {
  margin-bottom: 0px;
}

small {
  font-size: 60%;
}

.comment-wrapper {
  margin-left: -12px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.new-form {
  margin-bottom: 30px;
}
